*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
  font-size:62.5%
}
@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Book.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
main{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 35px 40px;
    font-family: 'Suisse Intl';
    justify-content: space-between;
}
.section1-senza{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.section1-senza img{
  width: 45%;
  min-width: 270px;
}
.container-titulo1-senza{
    display: flex;
}
.title-senza{
    margin-right: 70px;
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 120%;
    color: #262626;
}
.subtitle-senza{
    font-style: normal;
    font-weight: 450;
    font-size: 1.8rem;
    line-height: 120%;
    color: #262626;
    letter-spacing: -0.005em;
}
.section2-senza{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contactanos-senza{
    font-style: normal;
    font-weight: 450;
    font-size: 3rem;
    line-height: 120%;
    color: #262626;
}
.container-redes-senza{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.redireccion-redes{
    display: flex;
    margin-right: 3rem;
    z-index: 10;
}
.redireccion-redes a{
    margin-right:7px;
    font-style: normal;
    font-weight: 450;
    font-size: 3rem;
    line-height: 120%;
    color: #262626;
    text-decoration: none;
}
.email{
    font-style: normal;
    font-weight: 450;
    font-size: 3rem;
    line-height: 120%;
    color: #262626;
    margin-left:1.5rem;
}
.container-slider{
    position: absolute;
    display: flex;
    justify-content:start;
    align-items:center;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1440px * 2));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1440px * 2));
    }
  }
  .slider::before, .slider::after {
    content: "";
    position: absolute;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(1440px *2);
    }
    @media screen and (max-width: 1065px) {
      .section2-senza{
        flex-direction: column;
        align-items: start;
        margin-top: 7rem;
      }
      .contactanos-senza{
        border-bottom: 2px solid #262626;
        padding-bottom:0.35rem;
        margin-bottom:1.8rem;
        font-size: 1.88rem;
      }
      .redireccion-redes a{
        margin-right: 6.4rem;
        margin-bottom:1.8rem;
        font-size: 1.8rem;
      }
      .container-redes-senza{
        flex-direction: column;
        justify-content:start;
        align-items: start;
      }
      .container-redes-senza img{
        display: none;
      }
      .email{
        margin-left:0;
        margin-top: 2rem;
        font-size: 1.8rem;
      }
    }
    @media screen and (max-width: 758px){
      .section1-senza{
        flex-direction: column;
      }
      .container-titulo1-senza{
        margin-top: 15rem;
      }
      main{
        max-height: 700px;
      }
      .title-senza{
        font-size:1.5rem
      }
      .subtitle-senza{
        font-size:1.2rem
      }
    }
    @media screen and (max-width:490px){
      
    }